* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* Colors */

.blue {
  color: #0084ba;
}
.grey {
  color: #8f8f8f;
}
.black {
  color: black;
}
.white {
  color: white;
}
.lgrey {
  color: #818181;
}

/* fonts */

.vibes {
  font-family: "Great Vibes", cursive;
}
.roboto {
  font-family: "Roboto Slab", serif;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
}
.montserrat_bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}
.meb {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
.monoton {
  font-family: "Monoton", cursive;
}

/* Size */
.r2 {
  font-size: 2vw;
}
.r3 {
  font-size: 3vw;
}
.r4 {
  font-size: 4vw;
}
.r15 {
  font-size: 15vw;
}
body {
  background-color: black;
}
.main {
  width: 100% !important;
  padding: 0px;
}

.back {
  width: 100%;
  text-align: center;
  z-index: -1;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -35%);
  opacity: 0.11;
  /* font-size: 9rem; */
}

header {
  height: 50vh;
  background-image: url("../img/bg.png");
  background-size: cover;
}
.logo {
  width: 200px;
}

.burger {
  border: none;
  background: none;
  max-width: 40px;
}
.page {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
}

.btn {
  border: 1px solid #0084ba;
  background: none;
  color: #0084ba;
  /* color: white; */
  /* border-radius: 50px; */
  padding: 10px 30px;
}
.btn:hover {
  background-color: #0084ba;
  color: white;
}
.mainpic {
  padding: 0px;
  margin: 0px;
  width: 100%;
  /* max-width: 15vw; */
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.slip {
  padding: 20px;
  background-color: white;
  box-shadow: 10px 10px 4px rgba(199, 199, 199, 0.54);
}
.pocket {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.experience {
  font-size: 13vw;
}
.certifications {
  font-size: 9vw;
}
.exps {
  width: 70vw;
  margin: auto;
}
hr {
  display: block;
  height: 2px;
  color: white;
  background-color: rgb(94, 94, 94);
}
.exp {
  display: flex;
}
.cards {
  display: flex;
  justify-content: space-evenly;
}
.cert {
  padding: 0px;
  margin: 0px 10px 10px 0px;
  background-color: white;
  box-shadow: 6px 6px 4px rgba(199, 199, 199, 0.54);
}
.hidden {
  display: block;
}
.unhide {
  display: none;
}
.hidden {
  display: block;
  margin-top: 40px;
  margin-bottom: 30px;
}
.txt {
  font-weight: 600;
}

@media (min-width: 900px) {
  .r1 {
    font-size: 1.7vw;
  }
  .r2 {
    font-size: 2rem;
  }
  .r3 {
    font-size: 3rem;
  }
  .r4 {
    font-size: 4rem;
  }
  .cards {
    margin: auto;
    width: 80vw;
  }
}
@media (max-width: 899px) {
  .r2 {
    font-size: 1.5rem;
  }
  .r3 {
    font-size: 2rem;
  }
  .r4 {
    font-size: 3rem;
  }
}
@media (max-width: 770px) {
  .hidden {
    display: block;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .unhide {
    display: none;
  }
}
/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */
