* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* Colors */

/* If something fucks up remove this shit  */
.hidd {
  opacity: 0;
}
.fade-in-element {
  animation: fade-in ease 2s;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-50px) scale(0.8, 0.8);
  }
  to {
    opacity: 1;
    transform: translateX(0px) scale(1, 1);
  }
}
.fade-in-left {
  animation: fade-in-l ease 2s;
}
@keyframes fade-in-l {
  from {
    opacity: 0;
    transform: translateX(-50px) scale(0.8, 0.8);
  }
  to {
    opacity: 1;
    transform: translateX(0px) scale(1, 1);
  }
}
.fade-in-right {
  animation: fade-in-r ease 2s;
}
@keyframes fade-in-r {
  from {
    opacity: 0;
    transform: translateX(50px) scale(0.8, 0.8);
  }
  to {
    opacity: 1;
    transform: translateX(0px) scale(1, 1);
  }
}
.fade-in-bottom {
  animation: fade-in-b ease 2s;
}
@keyframes fade-in-b {
  from {
    opacity: 0;
    transform: translateY(50px) scale(0.8, 0.8);
  }
  to {
    opacity: 1;
    transform: translateY(0px) scale(1, 1);
  }
}

/* Till here  */

.blue {
  color: #0084ba;
}
.grey {
  color: #8f8f8f;
}
.black {
  color: black;
}
.white {
  color: white;
}
.lgrey {
  color: #818181;
}

/* fonts */

.vibes {
  font-family: "Great Vibes", cursive;
}
.roboto {
  font-family: "Roboto Slab", serif;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
}
.montserrat_bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}
.meb {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
.monoton {
  font-family: "Monoton", cursive;
}

/* Size */
.r2 {
  font-size: 2vw;
}
.r3 {
  font-size: 3vw;
}
.r4 {
  font-size: 4vw;
}
.r15 {
  font-size: 15vw;
}
body,
html {
  overflow-x: hidden;
  background-color: black;
}
.main {
  width: 100% !important;
  padding: 0px;
}

.back {
  width: 100%;
  text-align: center;
  z-index: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -35%);
  opacity: 0.11;
  /* font-size: 9rem; */
}

header {
  height: 50vh;
  background-image: url("../img/bgg.png");
  background-size: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* burger styling and animation */

.links-container {
  height: 100vh;
  background-color: #0084ba;
  opacity: 0.98;
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
}
.links-active {
  /* transform: translateX(0vw); */
  /* transform: scaleX(100%); */
  pointer-events: all;
  animation: navfade 1s ease-in-out forwards;
}
@keyframes navfade {
  from {
    width: 0vw;
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    width: 30vw;
    opacity: 1;
    transform: translateX(0px);
  }
}
.name-text {
  letter-spacing: 2px;
}
.list {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.link {
  list-style: none;
}
.link-item {
  text-decoration: none;
  color: white;
  letter-spacing: 3px;
  font-family: "roboto";
  white-space: nowrap;
}

.burger {
  border: none;
  background: none;
  max-width: 37px;
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 40px;
  justify-content: space-evenly;
  align-items: flex-end;
  z-index: 3;
}
.toggle {
  transition: trasform 1s ease;
}
.toggle .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}
.toggle .bar2 {
  opacity: 0;
}
.toggle .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}
.bar {
  width: 35px;
  height: 3px;
  background-color: white;
}
.bar2 {
  width: 25px;
}

/* Burger animation ends  */

.page {
  width: 100vw;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  overflow-x: hidden;
}
.name {
  text-transform: uppercase;
}

.btn {
  border: 1px solid #0084ba;
  background-color: #0084ba;
  color: white;
  /* color: white; */
  /* border-radius: 50px; */
  padding: 10px 30px;
}
.btn:hover {
  background: none;
  color: #0084ba;
}

.links-left {
  position: absolute;
  bottom: 5%;
  left: 2%;
  display: flex;
  flex-direction: column;
}
.links-right {
  position: absolute;
  bottom: 5%;
  right: 2%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.fab,
.fas {
  color: white;
  font-size: 2rem;
}

.mainpic {
  padding: 0px;
  margin: 0px;
  width: 100%;
  /* max-width: 15vw; */
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.typing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.type {
  margin-left: 9px;
}
.type::after {
  content: "|";
  animation: blink 0.5s infinite ease-in-out;
}
@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.slip {
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 12px 12px 36px #0084ba;
  /* box-shadow: 10px 10px 4px rgba(199, 199, 199, 0.54); */
}
.pocket {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.experience {
  font-size: 13vw;
}

.exps {
  width: 70vw;
  margin: auto;
}
hr {
  display: block;
  height: 2px;
  color: white;
  background-color: rgb(94, 94, 94);
}
.exp {
  display: flex;
}
.page-four {
  background-image: url(../img/experience-background.png);
  background-repeat: no-repeat;
  background-position: center;
}
.page-five {
  background-image: url(../img/certifications-background.png);
  background-size: cover;
}
.cards {
  display: flex;
  justify-content: space-evenly;
}
.certifications {
  font-size: 9vw;
}
.cert {
  padding: 0px;
  margin: 0px 10px 10px 0px;
  background-color: white;
  box-shadow: 12px 12px 36px #0084ba;
  border: 2px solid #0084ba;
  border-radius: 5px;
  /* box-shadow: 6px 6px 4px rgba(199, 199, 199, 0.54); */
}

.card-body {
  border: 2px solid #0084ba;
  border-radius: 2px;
}

.model {
  opacity: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  background: rgba(0, 132, 186, 0.9);
  pointer-events: none;
  transform: scale(0.5);
  transition: all 0.5s ease-out;
  z-index: 4;
}
.show {
  opacity: 1;
  pointer-events: all;
  transform: scale(1);
}
.img-box img {
  position: absolute;
  top: 50%;
  left: 50%;
}

.captain {
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 4%;
  transform: translate(-50%, 0%);
  color: white;
}
#cross {
  position: absolute;
  top: 3%;
  right: 3%;
}
.txt {
  font-weight: 600;
}

.page-six {
  background-image: url("../img/story.png");
}
footer {
  margin: 30px;
  text-align: center;
}

@media (min-width: 900px) {
  .logo {
    width: 200px;
  }
  .r1 {
    font-size: 1.7vw;
  }
  .r2 {
    font-size: 2rem;
  }
  .r3 {
    font-size: 3rem;
  }
  .r4 {
    font-size: 4rem;
  }

  .glider {
    transform: translate(0%, -30%);
  }
  .cards {
    margin: auto;
    width: 80vw;
  }
  .img-box img {
    height: 70vh;
    transform: translate(-50%, -60%);
  }

  .paths path:nth-child(2) {
    stroke-dasharray: 380;
    stroke-dashoffset: 380;
    animation: animate 2s ease-out forwards 1s, whiten 2s ease-out forwards 3s;
  }
  .paths path:nth-child(3) {
    stroke-dasharray: 175px;
    stroke-dashoffset: 175px;
    animation: animate 2s ease forwards 1.3s, whiten 2s ease forwards 3s;
  }
  .paths path:nth-child(4) {
    stroke-dasharray: 440px;
    stroke-dashoffset: 440px;
    animation: animate 2s ease forwards 1.6s, whiten 2s ease forwards 3s;
  }
  .paths path:nth-child(5) {
    stroke-dasharray: 440px;
    stroke-dashoffset: 440px;
    animation: animate 2s ease forwards 1.9s, whiten 2s ease forwards 3s;
  }
  .paths path:nth-child(6) {
    stroke-linecap: square;
    stroke-dasharray: 413px;
    stroke-dashoffset: 413px;
    animation: animate 2s ease forwards 2.2s, whiten 2s ease forwards 3s;
  }
  .paths path:nth-child(7) {
    stroke-dasharray: 378px;
    stroke-dashoffset: 378px;
    animation: animate 2s ease forwards 2.5s, whiten 2s ease forwards 3s;
  }
  .paths path:nth-child(8) {
    stroke-linecap: round;

    stroke-dasharray: 423px;
    stroke-dashoffset: 423px;
    animation: animate 2s ease forwards 2.8s, whiten 2s ease forwards 3s;
  }
  .paths path:nth-child(9) {
    stroke-linecap: square;

    stroke-dasharray: 260px;
    stroke-dashoffset: 260px;
    animation: animate 2s ease forwards 3.1s, whiten 2s ease forwards 3s;
  }
  .paths path:nth-child(10) {
    stroke-linecap: square;

    stroke-dasharray: 413;
    stroke-dashoffset: 413;
    animation: animate 2s ease forwards 3.4s, whiten 2s ease forwards 3s;
  }
  .paths path:nth-child(11) {
    stroke-linecap: round;

    stroke-dasharray: 423px;
    stroke-dashoffset: 423px;
    animation: animate 2s ease forwards 3.7s, whiten 2s ease forwards 3s;
  }
  .paths path:nth-child(12) {
    stroke-dasharray: 377px;
    stroke-dashoffset: 377px;
    animation: animate 2s ease forwards 4s, whiten 2s ease forwards 3s;
  }
  .paths path:nth-child(13) {
    stroke-dasharray: 175px;
    stroke-dashoffset: 175px;
    animation: animate 2s ease forwards 4.3s, whiten 2s ease forwards 3s;
  }

  @keyframes animate {
    to {
      stroke-dashoffset: 0px;
    }
  }
  @keyframes whitenn {
    to {
      fill: white;
    }
  }
}
@media (max-width: 899px) {
  .logo {
    width: 200px;
  }
  .r2 {
    font-size: 1.5rem;
  }
  .r3 {
    font-size: 2rem;
  }
  .r4 {
    font-size: 3rem;
  }
}
@media (max-width: 770px) {
  @keyframes navfade {
    from {
      width: 0vw;
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      width: 50vw;
      opacity: 1;
      transform: translateX(0px);
    }
  }
  body {
    overflow-x: hidden;
  }
  .logo {
    width: 150px;
  }
  .mainpic {
    width: 80vw;
  }
  .btn-first {
    position: relative;
    bottom: 70px;
  }
  .glider {
    transform: translate(0%, -20%);
  }
  .fab,
  .fas {
    font-size: 1.7rem;
  }
  .img-box img {
    width: 100vw;
    transform: translate(-50%, -70%);
  }
  #main-captain {
    font-size: 2rem;
  }
  #secondary-captain {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  header {
    height: 50vh;
    background-image: url("../img/bg.png");
  }
  .r1 {
    font-size: 3.7vw;
  }
  .r2 {
    font-size: 2rem;
  }
  .r3 {
    font-size: 3rem;
  }
  .r4 {
    font-size: 2rem;
  }
}
/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */
